# API Configuration
# Backend API URL
VITE_API_URL=http://localhost/Cinema-Booking-System/backend

# hoặc nếu dùng PHP built-in server:
# VITE_API_URL=http://localhost:8000

# hoặc production:
# VITE_API_URL=https://api.galaxycinema.vn

# Pusher Realtime
VITE_PUSHER_KEY=your_pusher_key_here
VITE_PUSHER_CLUSTER=ap1

# Map Configuration
VITE_MAPTILER_KEY=your_maptiler_key_here
VITE_ORS_API_KEY=your_ors_api_key_here


#update
VITE_API_URL=https://nonmethodical-xavi-softheartedly.ngrok-free.dev
# API Configuration
# Backend API URL - XAMPP Local Development
VITE_API_URL=http://localhost:8000

# Pusher Realtime
VITE_PUSHER_KEY=25e29b13e47d75942fef
VITE_PUSHER_CLUSTER=ap1

# Map Configuration
VITE_MAPTILER_KEY=KVeN2HZJbhgfyv2ekxLj
VITE_ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjkxZTJkMDY4NjI0ODQ1NjZiNTdkNTU5ZmQ0OGRlMWY2IiwiaCI6Im11cm11cjY0In0=

APP_URL=http://localhost:8000
MOMO_RETURN_URL=http://localhost:5173/booking/payment
MOMO_NOTIFY_URL=https://5354-1-53-106-245.ngrok-free.app/api/transactions/momo/verify

